body {
    background-color: #575757;
}

.container {
    color: White;
    font-family: 'Anton', sans-serif;
    font-size: 3vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.container p {
    font-size: 3vw;
}

.container h2 {
    width: 70%;
}

span:hover {
    color: palevioletred
}

a {
    text-decoration: none;
    color: inherit;
  }

.navBar ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 0px;
    margin: 0px;
    border-bottom: white;
    border-bottom-style: solid;

}

.navItem {
    color: white;
    font-family: 'Anton';
    font-size: 16px;
    background-color: palevioletred;
    border-radius: 3px;
    float: left;
    padding: 10px;
    margin: 6px
}

.navItem a {
    color: white;
    text-align: center; 
}